.container {
  padding: 8rem 2rem 4rem 2rem;
  display: flex;
  justify-content: center;
}
.container > * {
  flex: 1;
}
.wrapper {
  display: flex;
  flex: 1;
  justify-content: center;
  position: relative;
}
.wrapper > img {
  width: 25rem;
  position: absolute;
  top: -150px;
}
.blueCircle {
  width: 25rem;
  height: 25rem;
  border-radius: 50%;
  z-index: -99;
  position: absolute;
  top: -155px;
  background: linear-gradient(135.74deg, #0bb5ff 14.09%, #6dd3fe 83.81%);
}
.cart2 {
  position: absolute;
  bottom: 25%;
  right: 5%;
  display: flex;
  gap: 1rem;
}
.cart2 > svg {
  width: 30px;
  height: 30px;
  background: white;
  padding: 10px;
  border-radius: 50%;
  border: 6px solid var(--black);
}
.signup {
  display: flex;
  gap: 1rem;
  align-items: center;
  background: white;
  padding: 10px;
  font-size: 0.8rem;
  border-radius: 15px;
  box-shadow: var(--shadow1);
}
.signup > :first-child {
  display: block;
  width: 6rem;
}
.signup > :nth-child(2) {
  border-radius: 50%;
  border: 1px solid skyblue;
  display: flex;
  width: 20px;
  height: 20px;
  padding: 5px;
  align-items: center;
  justify-content: center;
}

.text1 {
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 600;
}
.text2 {
  display: flex;
  flex-direction: column;
  color: black;
}
.text2 > :first-child {
  font-weight: 800;
  font-size: 2.5rem;
}

.traffic {
  display: flex;
  flex-direction: column;
  text-align: right;
}
.traffic > :first-child {
  font-weight: 800;
  font-size: 2.5rem;
}
.customers {
  display: flex;
  flex-direction: column;
  text-align: right;
}
.customers > :first-child {
  font-weight: 800;
  font-size: 2.5rem;
}
@media screen and (max-width: 858px) {
  .container {
    flex-wrap: wrap;

    padding: 3rem 2rem 4rem 2rem;
  }
  .container > * {
    flex: 1 0 50%;
  }
  .h_side01 {
    order: 1;
  }
  .h_side02 {
    order: 2;
  }
  .wrapper {
    order: 3;
    z-index: -1;
    margin-top: 5rem;
    height: 15rem;
  }
}

/*
@media screen and (max-width: 640px) {
  .blueCircle {
    top: 0;
    width: 16rem;
    height: 72%;
  }
  .wrapper > img {
    top: 3rem;
    width: 12rem;
    height: 15rem;
  }
  .cart2 {
    transform: scale(0.7);
  }
}*/
